body {
	border: 0;
	margin: 0;
	padding: 0;
	color: #333;
	width: 100%;
	height: 100vh;
  overflow: hidden;
	font-family: system-ui, sans-serif;
	background: url('resources/loader.svg') no-repeat center center;
	background-size: 64px;
}

.container {
	margin: 0;
	border: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.container textarea {
	visibility: hidden;
}

.tox-tinymce {
	margin: auto;
	border: 0 !important;
	border-radius: 0 !important;
	max-width: calc(100vw - 10px);
	min-height: calc(100vh - 5px);
	max-height: calc(100vh - 5px);
	border-color: transparent !important;
}

.tox .tox-edit-area::before {
	border-radius: 0 !important;
	border-width: 1px !important;
}

.tox:not(.tox-tinymce-inline) .tox-editor-header {
	box-shadow: none !important;
	padding: 0 0 5px 0 !important;
	border-bottom: solid 1px rgba(34, 47, 62, 0.1) !important;
}

.tox:not(.tox-tinymce-inline) .tox-editor-header:not(.tox-editor-dock-transition) {
	transition: border-bottom 500ms !important;
}

div[class*='tox-statusbar'] {
	font-size: 12px !important;
}

.toolbar {
	top: 3px;
	right: 3px;
	z-index: 11;
	position: fixed;
}

.toolbar table {
  border-spacing: 1px 0;
}

.toolbar table tr td {
  padding: 0;
  width: 48px;
  height: 34px;
  cursor: pointer;
  user-select: none;
	border-radius: 3px;
  text-align: center;
	transition: 300ms ease all;
}

.toolbar table tr td svg {
	margin-top: -3px;
  pointer-events: none;
  vertical-align: middle;
}

.toolbar table tr td:hover {
  background-color: #dee0e2;
}

@media (max-width: 500px) {
  .toolbar {
    display: none;
  }
}

html[theme='default'] .container {
	background-color: #fff;
}

html[theme='default'] .toolbar table tr td svg {
	fill: #555;
}

html[theme='dark'] .container {
	background-color: #222f3e;
}

html[theme='dark'] .toolbar table tr td svg {
	fill: #c1c1c1;
}

html[theme='dark'] .toolbar table tr td:hover {
  background-color: #2f4055;
}

html[theme='dark'] .tox:not(.tox-tinymce-inline) .tox-editor-header {
	border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important;
}

html[context='popup'] body {
  height: calc(100vh - 5px);
}

html[context='popup'] .tox-tinymce {
  min-height: calc(100vh - 5px);
  max-height: calc(100vh - 5px);
}

html[context='webapp'] .toolbar {
  display: none;
}
